html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', 'Oswald', sans-serif;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
}

header h1 {
    margin: 0;
    position: fixed;
    top: 20px;
    left: 35px;
    font-family: 'Oswald';
    text-decoration: underline;
}

header h5 {
    font-weight: 400;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    color: #888;
    transition: font-size 0.5s ease;
    font-size: 14px;
}

header h5.selected {
    font-weight: bold;
    color: black;
}

header h5:hover {
    color: black;
    font-size: 16px;
}

#categories {
    display: flex;
    flex-grow: 1;
}

.category {
    text-align: center;
    width: 100%;
    display: flex;
}

.scroll-container {
    overflow-x: auto;
    display: flex;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
}

.addButton {
    background-color: white;
    color: black;
    display: inline-block;
}

.movieList {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.movie {
    margin: 0 5px;
}

.movie-thumbnail {
    transition: height 0.5s ease;
    height: 400px;
    min-width: 270px;
    max-width: 350px;
    box-shadow: 0 5px 6px #CCC;
}

.movie-thumbnail:hover {
    height: 450px;
    max-width: 394px;
}

#search {
    display: flex;
    flex-direction: column;
}

#search input {
    width: 250px;
    height: 25px;
    font-size: 14px;
    padding: 2px 4px;
}

#searchField-container {
    width: 100%;
}

.no-poster {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #AAA;
}
