.category {
    background-color: black;
    color: white;
    height: 33%;
    margin: 20px 0 20px 0;
    padding: 20px;
}

.categoryText {
    display: inline-block;
}

.addButton {
    background-color: white;
    color: black;
    display: inline-block;
    height: 100%;
}

div {
    height: 100%;
}